.mainSectionContainer{
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    width: 98%;
    max-width: 148.9rem;
    margin: 0 auto 1rem auto;
    padding: 1rem 2rem 2rem 2rem;
    /* margin: 1rem auto 0 auto; */
    background-color: #fff;
    margin-bottom: 1rem;
}

@media(max-width: 75em){
    .mainSectionContainer{
        width: 95%;
    }
}




