.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .order-status-tracker {
    display: flex;
    position: relative;
  }

  
  .status-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    position: relative;
  }
  
  .status-point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ddd;
    margin-bottom: 5px;
    z-index: 2;
  }
  
  .completed .status-point {
    background-color: #4caf50;
  }
  
  .status-label {
    font-size: 14px;
    color: #333;
    text-align: center;
  }
  
  .progress-line {
    position: absolute;
    top: 8px;
    height: 4px;
    background-color: #ddd;
    z-index: 1;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4caf50;
    z-index: 2;
  }

  @media (max-width: 48em) {
    .status-point{
      width: 15px;
      height: 15px;
    }
    .status-label{
      font-size: 10px;
    }
    .progress-line{
      top: 6px;
    }

  }
  