.admin-product-list{
    padding: 2rem;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
}

.table-wrapper {
    max-height: 500px; /* Adjust height as needed */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width:thin;
}

.caption{
display: inline-block;
padding-top: .5rem;
padding-bottom: .5rem;
color: #6c757d;
text-align: left;
}

.ellipsis{
    white-space: nowrap;        /* Prevents text from wrapping to a new line */
    overflow: hidden;           /* Hides overflow content */
    text-overflow: ellipsis;    /* Adds ellipsis (...) to indicate overflow */
    max-width: 150px;           /* Set the maximum width of the column */
    width: 150px;  
}


.caption{
    caption-side: top;
    font-size: 2rem;
    margin: 10px 0;
}

.table {
    width: auto; /* Ensure table fills its container */
    border-collapse: collapse; /* Collapse borders between cells */
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd; /* Example border styling */
    table-layout: fixed;
    white-space: nowrap; /* Prevent text wrapping in cells */
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis; /* Show ellipsis for text overflow */
}



.table thead tr{
    background-color: #f0f0f0;
}

.table tbody tr:nth-child(even){
    background-color: #f9f9f9;
}


.table tbody tr:hover{
    background-color: #e0f7fa;
}



/* Adjust specific column widths if needed */
.table td:nth-child(5), /* ID column */
.table th:nth-child(5) {
    width: 200px; /* Adjust width as needed */
}

.table td:nth-child(2), /* Product Name column */
.table th:nth-child(2) {
     /* Adjust width as needed */
}

.action-btns-box{
    display: flex;
    gap: 0.5rem;
}

/* Repeat for other columns as necessary */
