.reviews-section{
    border: 1px solid #ddd;
    padding: 2rem;
}
.reviews-form-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input-container-reviews{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.review-btn{
    font-size: 1.4rem;
    width: 9rem
}
