.viewSectionContainer{
    width: 90%; 
    margin: 0 auto 1rem auto;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
}

.priceContainer {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;

}

.simplePrice{
    display: inline-block;
    margin-bottom: 1rem;
}

.basePrice {
    text-decoration: line-through;
    font-size: 1.4rem;
    color: #878787;
}

.discountContainer {
    display: flex;
    flex-direction: column;
}

.discountText {
    font-size: 1.4rem;
    color: #666; /* Subtle color for discount text */
}

.discountedPrice {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #212121;
}

.price{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #212121;
}

.discountInfo{
    color: #388e3c;
    font-size: 1.3rem;
    letter-spacing: -.2px;
    font-weight: 550;
    margin-bottom: 1rem;
    font-family: sans-serif;
}